# SPDX-FileCopyrightText: Public domain.
# SPDX-License-Identifier: CC0-1.0

access_key_id = ""
secret_access_key = ""

bucket = ""
endpoint = "https://eu-central-1.linodeobjects.com"
region = "eu-central-1"
