<!DOCTYPE html>
<!--
    SPDX-FileCopyrightText: © Matteo Settenvini <matteo.settenvini@montecristosoftware.eu>
    SPDX-License-Identifier: EUPL-1.2
-->
<html>
    <head></head>
    <body>
        <h1>{{ path }}</h1>
        <ul>
            {% if path != "/" %}
            <li><a href="../">..</a></li>
            {% endif %}

            {% for object in objects %}
            <li><a href="{{ object | urlencode }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html
